.pokemonGallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.pokemonGallery .pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px
}

.pokemonGallery .pokemonContainer .nothingFound {
    width: 100%;
    font-size: 20px;
}
