.searchBar {
    display: grid;
    justify-content: center;
}

.searchBar .barContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--c_darkest);
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--t_darkest);
    transition: ease 500ms border;
    width: 500px;
}

.searchBar .barContainer:hover {
    border: 1px solid var(--t_medium)
}

.searchBar .barContainer input, .searchBar select, .searchBar button{
    margin: 0;
    height: 45px;
    outline: none;
    border: none;
    background-color: var(--c_darkest);
}

.searchBar .barContainer input {
    text-align: center;
}

.searchBar .barContainer .abilitiesSelected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    position:fixed;
    bottom: 10px;
    left: 10px;
    max-width: 600px;
    background-color: var(--t_dark);
    border-radius: 20px;
    padding: 10px 10px;
}
